
<div class="container-fluid"  >
    <p></p>
    <div class="row" >
        <div class="col-sm-4" >
            <span>Nome</span>
            <input type="text" id="queryentry"  [(ngModel)]="queryentry" class="form-control" />            
        </div>
        <div class="col-sm-2" >
            <br/>
            <input type="button" value="Consulta" class="btn btn-success" (click)="filterCandidates()" />
        </div>
        <div class="col-sm-6">
            <br/>
            <input type="button" value="Novo Candidato" class="btn btn-success" (click)="newCandidate()" />
        </div>
    </div>
    <br/>
    <div class="row" >
        <div class="col-sm-12" >
            <table id="example" class="table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <td colspan="5">
                            Consulta de Candidatos
                        </td>
                    </tr>
                    <tr>
                        <th>Editar</th>
                        <th>Nome</th>
                        <th>Sobrenome</th>
                        <th>Telefone</th>
                        <th>E-mail</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of candidates"   >
                        <td> 
                            <img src="assets/images/edit.png" class="iconlenght" (click)="editCandidates($event,item)" />
                            <img src="assets/images/trash.jpg" class="iconlenght" (click)="removeCandidates($event,item)" /> 
                        </td>
                        <td>{{item.name}}</td>
                        <td>{{item.surname}}</td>
                        <td>{{item.phone}}</td>
                        <td>{{item.email}}</td>
                    </tr>
                </tbody>
            </table>                
        </div>
    </div>
</div>

