<p></p>
<div class="container-fluid" >
    <div class="row" >
        <div class="col-sm-12" >
            <span>Cadastro de Vaga</span>
        </div>
    </div>
    <div class="row" >
        <div class="col-sm-8" >
            <span>Título</span>
            <input type="text" id="title" class="form-control" [(ngModel)]="title" />
        </div>
    </div>
    <div class="row" >
        <div class="col-sm-8" >
            <span>Descritivo</span>
            <textarea class="form-control" [(ngModel)]="container" ></textarea>
        </div>
    </div>
    <div class="row" >
        <div class="col-sm-8" >
            <br/>
            <div class="text-right" >
                <input type="button" value="Consultar" class="btn btn-success" (click)="queryPosition()" />
                &nbsp;
                <input type="button" value="Gravar" class="btn btn-success" (click)="savePosition()" />
            </div>
        </div>
    </div>

</div>
