
<div class="container-fluid"  >
    <p></p>
    <div class="row" >
        <div class="col-sm-12">
            <input type="button" value="Nova vaga" class="btn btn-success" (click)="newPosition()" />
        </div>
    </div>
    <br/>
    <div class="row" >
        <div class="col-sm-12" >
            <table id="example" class="table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <td colspan="5">
                            Consulta de Vagas
                        </td>
                    </tr>
                    <tr>
                        <th>Editar</th>
                        <th>Vaga</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of positions"   >
                        <td> 
                            <img src="assets/images/edit.png" class="iconlenght" (click)="editPositions($event,item)" />
                            <img src="assets/images/trash.jpg" class="iconlenght" (click)="removePositions($event,item)" /> 
                        </td>
                        <td>{{item.title}}</td>
                    </tr>
                </tbody>
            </table>                
        </div>
    </div>
</div>
