<p></p>
<div class="container-fluid" >
    <div class="row" >
        <div class="col-sm-12" >
            <span>Cadastro de Vaga vs Candidato</span>
        </div>
    </div>
    <div class="row" >
        <div class="col-sm-4" >
            <span>Candidato</span>
            <select  class="form-control"  [(ngModel)]="candidate" (change)="selectCandidate($event.target.value)" >
                <option *ngFor="let item of candidates" [ngValue]="item.Id" >{{item.name}}</option>
            </select>
        </div>
        <div class="col-sm-4" >
            <span>Vaga</span>
            <select  class="form-control"  [(ngModel)]="job" (change)="selectPosition($event.target.value)" >
                <option *ngFor="let item of positions" [ngValue]="item.Id" >{{item.title}}</option>
            </select>
        </div>
    </div>
    <div class="row" >
        <div class="col-sm-8" >
            <br/>
            <div class="text-right" >
                <input type="button" value="Consultar" class="btn btn-success" (click)="queryCandidatePosition()" />
                &nbsp;
                <input type="button" value="Gravar" class="btn btn-success" (click)="saveCandidatePosition()" />
            </div>
        </div>
    </div>

</div>