<p></p>
<div class="container-fluid" >
    <div class="row" >
        <div class="col-sm-4 pointer" (click)="queryPosition()" >
            <div class="card">
                <div class="card-header">Vagas</div>
                <div class="card-body">
                    <img src="assets/images/jobs.png" class="imagecard" />
                </div>
            </div>
        </div>
        <div class="col-sm-4 pointer" (click)="queryCandidate()" >
            <div class="card">
                <div class="card-header">Candidatos</div>
                <div class="card-body">
                    <img src="assets/images/people.jpg" class="imagecard" />
                </div>
            </div>
        </div>
        <div class="col-sm-4 pointer" (click)="queryCandidateJob()" >
            <div class="card">
                <div class="card-header">Candidaturas</div>
                <div class="card-body">
                    <img src="assets/images/candidateposition.jpg"  class="imagecard" />
                </div>
            </div>
        </div>
    </div>
    
</div>
