
<div class="container-fluid"  >
    <p></p>
    <div class="row" >
        <div class="col-sm-12">
            <input type="button" value="Cadastrar Candidato Vaga" class="btn btn-success" (click)="newCandidate()" />
        </div>
    </div>
    <br/>
    <div class="row" >
        <div class="col-sm-12" >
            <table id="example" class="table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <td colspan="5">
                            Consulta de Candidatos
                        </td>
                    </tr>
                    <tr>
                        <th>Editar</th>
                        <th>IdCandidato</th>
                        <th>Nome Candidato</th>
                        <th>IdVaga</th>
                        <th>Vaga</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of candidatejob"   >
                        <td> 
                            <img src="assets/images/trash.jpg" class="iconlenght" (click)="removeCandidates($event,item)" /> 
                        </td>
                        <td>{{item.idCandidate}}</td>
                        <td>{{item.nameCandidate}}</td>
                        <td>{{item.idJob}}</td>
                        <td>{{item.nameJob}}</td>
                    </tr>
                </tbody>
            </table>                
        </div>
    </div>
</div>
