/* You can add global styles to this file, and also import other style files */
.iconlenght{
    width: auto;
    height: 25px;
    cursor: pointer;
}

.pointer{
    cursor: pointer;
}

.imagecard{
    width: 100%;
    height: 200px;
}
