<p></p>
<div class="container-fluid" >
    <div class="row" >
        <div class="col-sm-12" >
            <span>Cadastro de Candidatos</span>
        </div>
    </div>
    <div class="row" >
        <div class="col-sm-4" >
            <span>Nome</span>
            <input type="text" id="name" class="form-control" [(ngModel)]="name" />
        </div>
        <div class="col-sm-4" >
            <span>Sobrenome</span>
            <input type="text" id="surname" class="form-control" [(ngModel)]="surname" />
        </div>
    </div>
    <div class="row" >
        <div class="col-sm-4" >
            <span>Telefone</span>
            <input type="text" id="phone" class="form-control" [(ngModel)]="phone" />
        </div>
        <div class="col-sm-4" >
            <span>E-mail</span>
            <input type="text" id="email" class="form-control"  [(ngModel)]="email" />
        </div>
    </div>
    <div class="row" >
        <div class="col-sm-8" >
            <span>Skype</span>
            <input type="text" id="skype" class="form-control" [(ngModel)]="skype" />
        </div>
    </div>
    <div class="row" >
        <div class="col-sm-8" >
            <span>Linkedin</span>
            <input type="text" id="linkedin" class="form-control" [(ngModel)]="linkedin" />
        </div>
    </div>
    <div class="row" >
        <div class="col-sm-4" >
            <span>Cidade</span>
            <input type="text" id="city" class="form-control" [(ngModel)]="city" />
        </div>
        <div class="col-sm-2" >
            <span>Estado</span>
            <input type="text" id="states" class="form-control" [(ngModel)]="states" />
        </div>
        <div class="col-sm-2" >
            <span>Valor/Hora</span>
            <input type="text" id="hourvalue" class="form-control" [(ngModel)]="hourly" />
        </div>
    </div>
    <div class="row" >
        <div class="col-sm-8" >
            <div class="form-check">
                <span>Disponibilidade</span><br/>
                <input type="radio"  (change)="disponibility($event,'1')" id="willi1" name="willi" class="form-check-input" style="margin-right:10px !important;"  [checked]="willingness=='1'?true:false"  />até 4 horas
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" (change)="disponibility($event,'2')" id="willi2" name="willi"  class="form-check-input"  [checked]="willingness=='2'?true:false" />4 a 6 horas
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" (change)="disponibility($event,'3')" id="willi3" name="willi"  class="form-check-input"  [checked]="willingness=='3'?true:false" />6 a 8 horas
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" (change)="disponibility($event,'4')" id="willi4" name="willi"  class="form-check-input"  [checked]="willingness=='4'?true:false" />Mais de 8 horas
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" (change)="disponibility($event,'5')" id="willi5" name="willi"  class="form-check-input" [checked]="willingness=='5'?true:false"  />Somente finais de semana
            </div>
            
        </div>
    </div>
    <div class="row" >
        <div class="col-sm-8" >
            <span>Cover Letter</span>
            <textarea class="form-control" [(ngModel)]="coverletter" id="coverletter" ></textarea>
        </div>
    </div>
    <div class="row" >
        <div class="col-sm-8" >
            <br/>
            <div class="text-right" >
                <input type="button" value="Consultar" class="btn btn-success" (click)="queryCandidates()" />
                &nbsp;
                <input type="button" value="Gravar" class="btn btn-success" (click)="saveCandidate()" id="send" />
            </div>
        </div>
    </div>

</div>

